<div class="track-controls">
  <div style="line-height: 0">
    <button class="btn-icon btn-player btn-play"
            type="button"
            ng-class="{ 'btn-pause': !track.paused }"
            ng-click="play()"></button>
  </div>

  <div style="width: 100%">
    <div style="display: flex">
      <div class="track-controls__time played__time">{{ track.time | time }}</div>

      <div class="track-title">{{ src.title }}</div>
      <div class="track-controls__time total__time">{{ track.duration | time }}</div>
    </div>

    <audio-slider duration="track.duration"
                  time="track.time"
                  on-click="handleSliderClick($event)"></audio-slider>
  </div>

  <div class="track-controls__right">
    <div class="btn-remove" ng-click="onRemove()">&times;</div>
  </div>
</div>
