<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Audio Player</title>
</head>
<body>

<div id="root">
  <audio-player-container></audio-player-container>
</div>

</body>
</html>
