<div class="slider audio_inline_player_progress slider_size_7" ng-click="$ctrl.handleClick($event)">
  <div class="slider_slide">
    <div class="slider_back slider_back_transition" ng-style="{
      width: 1 / ($ctrl.duration / $ctrl.time) * 100 + '%'
    }"></div>
    <div class="slider_amount"></div>
    <div class="slider_handler"></div>
  </div>
</div>
