audio-player-container {
  display: block;
}

audio-player {
  display: block;
}

.audio_inline_player .slider {
  padding: 4px 0 7px;
}

.audio_inline_player .audio_inline_player_progress,
.audio_inline_player .audio_inline_player_volume {
  height: 1px;
}

.slider {
  padding: 6px 0;
  cursor: pointer;
  user-select: none;
  width: 100%;
  /*height: 12px;*/
  box-sizing: border-box;
}

.slider.slider_size_1 .slider_slide {
  height: 1px;
}

.slider.slider_size_7 .slider_slide {
  height: 7px;
}

.audio_inline_player .slider .slider_slide,
.audio_page_player .slider .slider_slide {
  background-color: #e1e8ee;
}

.slider .slider_slide {
  height: 4px;
  border-radius: 2px;
  /*background-color: #d2d9e1;*/
  background-color: #e1e8ee;
  position: relative;
}

.slider .slider_loading_bar {
  width: 100%;
  height: 100%;
  transition: opacity 300ms linear;
  background-image: url(/img/audio_progress.png);
  background-position: 0 0;
  animation: slider_loading_animation 300ms linear infinite;
}

.audio_inline_player .slider .slider_back,
.audio_page_player .slider .slider_back {
  background-color: #b8c7d7;
}

.slider .slider_amount,
.slider .slider_back {
  height: 100%;
  width: 0;
  border-radius: 2px;
  background-color: #f50;
  position: absolute;
  top: 0;
  left: 0;
  transition: width linear 100ms;
}

.audio_inline_player .slider .slider_amount,
.audio_page_player .slider .slider_amount,
.audio_inline_player .slider .slider_handler,
.audio_page_player .slider .slider_handler {
  background-color: #577ca1;
}

.slider.slider_size_1 .slider_handler {
  top: 0;
}

.audio_inline_player .slider .slider_amount,
.audio_page_player .slider .slider_amount,
.audio_inline_player .slider .slider_handler,
.audio_page_player .slider .slider_handler {
  background-color: #577ca1;
}

.slider .slider_handler {
  position: absolute;
  background-color: #5f81a8;
  opacity: 0;
  border-radius: 50%;
  height: 0;
  width: 0;
  transition: top 80ms linear, width 80ms linear, height 80ms linear, margin-left 80ms linear, opacity 160ms linear;
}

.played__time {
  color: #f50;
}

.track-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  /*height: 20px;*/
}

.track-controls__right {
  margin-left: 10px;
}

.track-controls__time {
  font-size: 11px;
  display: flex;
  align-self: center;
}

.btn-remove {
  cursor: default;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1;
}

.dragover {
  position: fixed;
  z-index: 1111;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #4d627d;
  opacity: 0;
  pointer-events: none;
  transition: opacity 100ms ease-in;
}

.dragover.visible {
  opacity: 0.7;
  transition: opacity 100ms ease-out;
}

.over, .over * {
  pointer-events: none;
}

.player-controls {
  margin-top: 10px;
  border: 1px solid;
  line-height: 0;
  white-space: nowrap;
}
