body {
  font-size: 12px;
  font-family: sans-serif;
}

#root {
  margin: 10px;
}

pre {
  margin: 0;
}

.btn-icon {
  border: 0;
  font: 0/0 a;
  padding: 0;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}

.btn-player {
  background-repeat: no-repeat;
  background-position: 55% center;
  width: 24px;
  height: 24px;
  margin: 0 5px;
}

.btn-play {
  background-image: url(./img/play.svg);
}

.btn-pause {
  background-image: url(./img/pause.svg);
}

.btn-next {
  background-image: url(./img/next.svg);
}

.btn-prev {
  background-image: url(./img/prev.svg);
}

.btn-shuffle {
  background-image: url(./img/shuffle.svg);
}

.btn-repeat {
  background-image: url(./img/repeat.svg);
}

.btn-repeat-one {
  background-image: url(./img/repeat-one.svg);
}

.btn-volume-max {
  background-image: url(./img/volume-max.svg);
}

.btn-volume-muted {
  background-image: url(./img/volume-muted.svg);
}

.player-controls .btn-player:first-of-type {
  margin-left: 0;
}

.player-controls .btn-player:last-of-type {
  margin-right: 0;
}

input[type="range"] {
  width: 100%;
}

.bottom-player {
  width: 100%;
  box-sizing: border-box;
}
