<div ng-repeat="track in $ctrl.sources track by track.url">
  <audio-track src="::track" on-remove="$ctrl.onRemove({ $event: track })"></audio-track>
</div>

<div ng-if="$ctrl.totalTracks === 0">
  <p>No tracks</p>
</div>

<div>
  <p>Drop tracks here</p>
</div>

<div class="bottom-player" ng-if="$ctrl.totalTracks > 0">
  <div>
    Time: <span>{{ $ctrl.active.time | time }}</span> / <span>{{ $ctrl.active.duration | time }}</span>
  </div>

  <div class="player-controls">
    <button class="btn-icon btn-player btn-prev" type="button" ng-click="$ctrl.prev()"></button>

    <button class="btn-icon btn-player btn-play" type="button" ng-class="{ 'btn-pause': $ctrl.playing }"
            ng-click="$ctrl.playPause()"></button>

    <button class="btn-icon btn-player btn-next" type="button" ng-click="$ctrl.next()"></button>

    <button class="btn-icon btn-player btn-shuffle" type="button" ng-click="$ctrl.shuffle()"></button>

    <button class="btn-icon btn-player btn-repeat" type="button" ng-click="$ctrl.repeat()"></button>

    <button class="btn-icon btn-player btn-volume-max" type="button" ng-class="{ 'btn-volume-muted': $ctrl.muted }"
            ng-click="$ctrl.volumeToggle()"></button>
  </div>
</div>

<div class="dragover"></div>
